/* --- DARK THEME SETTINGS --- */
.theme-dark {
  --background-primary: #010A21;      
  --background-primary-alt: #101935;  
  --background-secondary: #0E162F;    
  
  --text-normal: #F6EFEE;      /* Snow */
  --text-muted: #B0A695;       /* Muted Bone - not sure when used - Not in Palette*/
  --text-faint: #4B6A88;       /* Blue Slate - Not in Palette*/
  --text-on-accent: #010A21;   /* Ink Black */
  --text-highlight-bg: #F9629F; /* Rose Kiss */
  
  --bold-color: #D9A441;        /* Honey Bronze */
  --italic-color: #70C2A3;      /* Mint Leaf */
  
  /* HEADERS - Descending through the blues/teals - These are all Brights */
  --h1-color: #00B7D4; /* Turquoise Surf */
  --h2-color: #70C2A3; /* Mint Leaf */
  --h3-color: #FC9CC2; /* Pink Mist */
  --h4-color: #ADE7FF; /* Frosted Blue */
  --h5-color: #EFD6AC; /* Wheat */
  --h6-color: #DDCBBD; /* Powder Petal */

  --interactive-accent: #00B7D4;	/* Turquoise Surf */
  --interactive-accent-hover: #ADE7FF;	/* Frosted Blue */
  
  --code-background: #101935; /* Prussian Blue */
  --code-normal: #ADE7FF; /* Frosted Blue */
}

/* --- LIGHT THEME SETTINGS --- */
.theme-light {
  --background-primary: #F6EFEE;      
  --background-primary-alt: #E4D8C9;  
  --background-secondary: #DDCBBD;    
  
  --text-normal: #010A21;      
  --text-muted: #3879AB;       
  --text-faint: #5167C4;       
  
  --bold-color: #D24D7D;        /* Rose Punch */
  --italic-color: #2D8A75;      /* Jungle Teal */
  
  --h1-color: #008DA3; /* Pacific Cyan */
  --h2-color: #2D8A75; /* Jungle Teal */
  --h3-color: #C76B98; /* Sweet Peony */
  --h4-color: #5167C4; /* Slate Indigo */
  --h5-color: #D9A441; /* Honey Bronze */
  --h6-color: #D24D7D; /* Rose Punch - Doesn't match with above which uses white */ 

  --interactive-accent: #5167C4;
  --interactive-accent-hover: #3879AB;
  
  --code-background: #E4D8C9;
  --code-normal: #010A21;
}

.cm-cursor {
  border-left-color: #F9629F !important; 
}
